/*body에 기본적으로 margin이 잡혀있는 것을 초기화*/
body{
  margin: 0;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url(font/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
    font-family: '아리따돋움';
    src: url(font/아리따돋움.ttf) format('truetype');
}

@font-face {
    font-family: 'StMarie-Thin';
    src: url(font/StMarie-Thin.otf) format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src:url(font/Quicksand Medium 500.tff) format('truetype');
}

@font-face {
  font-family: '아리따돋움라이트';
  src: url(font/아리따돋움라이트.ttf) format('truetype');
}

@font-face {
    font-family: 'NanumSquare';
    src: url(font/NanumSquare_acR.ttf) format('truetype');
}

header h2 {
  text-align: center;
  font-size: 55px;
  font-weight: bolder;
  font-family: 아리따돋움;
}

header a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

#header-area{
  width: 100%;
  height: 10em;
  padding-top: 10px;
}

#home-nav-area{
  /*display: flex;*/
  text-align: center;
  background-color: rgb(182, 182, 182);
  width: 100%;
  height: 2.4em;
  /*border: solid 2px black;*/
  margin: 0 auto;
  margin-top: 13px;
  padding-top: 10px;
}


#nav-area{
  display: flex;
  background-color: rgb(182, 182, 182);
  width: 970px;
  height: 2.3em;
  /*border: solid 2px black;*/
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 7px;
}

.nav-span{
  font-family: NanumSquare;
  font-size: 12px;
  color: white;
  padding-top: 9.5px;
  word-spacing: 15px;
  letter-spacing: 7px;
  margin: 0 auto;
}


#home-nav-area a{
  padding: 50px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: NanumSquare;
  font-weight: bold;
  font-size: 14.5px;

}

#nav-area a{
  padding: 9.5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-family: StMarie-Thin;
  font-weight: bold;
  font-size: 11.7px;
  margin: 0 auto;
}

#article-area{
  width: 1000px;
  height: 1080px;
  /*border: solid 2px green;*/
  /*contents area 가운데 정렬*/
  margin: 0 auto;
  margin-top: 110px;
}

#section-area{
  float: left;
  width: 50%;
  height: 45%;
  margin-top: 20px;
  /*background-color: yellow;*/
}

#footer-area{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 3rem;
  border: dashed 1px black;
  text-align: center;
  background: white;
  z-index: 1;
}

.footer_span_font{
  font-size: 11px;
  font-family: Quicksand;
}

#home-nav-area a:hover{
  color: black;
  font-weight: 900;
}
